name: docs_workflow

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]
  workflow_dispatch:

jobs:
  build_docs_job:
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.12"
          enable-cache: true

      - name: Create Virtual Environment
        run: |
          uv venv

      - name: Install Dependencies
        run: |
          uv pip install -U .[docs]

      - name: Build Docs
        run: |
          sphinx-apidoc -d 10 -o ./docs/source/api/ ./libvhls/
          sphinx-build -b html ./docs/source ./docs/build/

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          publish_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/build/
          force_orphan: true
